@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


.nav_buttons{
    margin-left: 60%;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h4{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color: #D8D8D8;
}

button{

    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;

    button:hover{
        background-color: orange;
    }
}

.navbar{

    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0%;
}

.nav-link{

    padding: 0 20px;
    color: #000;
    transition: 0.4 ease;
}

.nav-link:hover, .navbar i:hover{

    color: coral;

}

.navbar i{

    font-size: 1rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width:990px) {

    .nav_buttons{
        margin: 10px;

        ul.fas{
            margin: 20px 5px 10px 20px;
        }

        ul.far{
            margin: 20px 5px 10px 20px;
        }
    }

    .nav_buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    
    
}

#home{
    background-image: url('https://images.unsplash.com/photo-1603252109612-24fa03d145c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100vh;
    background-size: cover;
    // background-position-x: 90px;
    // background-position-y: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    span{

        color: cornsilk;

    }
}
